CREATE DATABASE [AssetDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssetDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AssetDB.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AssetDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AssetDB_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [AssetDB]
GO
USE [AssetDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [AssetDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
